.gallery {
    position: relative;


    @include respond(tablet-port) {
        min-height: 70rem;
    }

    &__img {
        width: 50%;
        position: absolute;
        transition: all .3s;
        box-shadow: 0 .5rem 1.5rem rgba($color-black, .2);

        @include respond(tablet-port) {
            width: 30%;
        }

        @include respond(mobile-lg) {
            width: 45%;
        }

        @include respond(mobile-sm) {
            width: 50%;
        }



        &:hover,
        &:focus {
            z-index: 100;
            transform: scale(1.1);
            box-shadow: 0 .5rem 2rem rgba($color-black, .3);
        }

        &--1 {
            bottom: 0;
            left: 15rem;
            z-index: 30;

            @include respond(laptop-lg) {
                top: 25rem;
            }

            @include respond(tablet-port) {
                left: 25rem;
            }

            @include respond(mobile-lg) {
                left: 15rem;
            }

            @include respond(mobile-sm) {
                left: 10rem;
            }
        }

        &--2 {
            top: 0;
            right: 0;
            z-index: 10;

            @include respond(tablet-land) {
                right: -2rem;
            }

            @include respond(tablet-port) {
                right: 20rem;
            }

            @include respond(mobile-lg) {
                right: 5rem;
            }

            @include respond(mobile-sm) {
                right: 2rem;
            }
        }

        &--3 {
            top: 4rem;
            left: 0;
            z-index: 20;

            @include respond(tablet-port) {
                left: 17rem;
            }

            @include respond(mobile-lg) {
                left: 5rem;
            }

            @include respond(mobile-sm) {
                left: 2rem;
                top: 8rem;
            }
        }
    }
}