// Layout ---------------------------------------------
.layout {
    display: grid;
    grid-template-columns: 35rem 1fr;
    grid-template-rows: minmax(100vh, 1fr) max-content;
}



// Navigation -----------------------------------------
.navigation {
    grid-column: 1 / 2;
}



// Main -----------------------------------------------
.main {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 7rem 1fr 7rem;
    grid-template-rows: repeat(4, minmax(100vh, max-content));
    margin-bottom: 20rem;

    & > * {
        padding: 20rem 0;
    }
}



// Footer ---------------------------------------------
.footer {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}



// Landingpage ----------------------------------------
.landingpage {
    grid-column: 2 / 3;
    grid-row: 1 / 2;


    @include respond(laptop) {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }
}



// Portfolio -------------------------------------------
.portfolio {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    @include respond(laptop) {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
    }
}



// About -----------------------------------------------
.about {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    @include respond(laptop) {
        grid-column: 1 / -1;
        grid-row: 4 / 5;
    }
}



// Contact ---------------------------------------------
.contact {
    grid-column: 2 / 3;
    grid-row: 4 / 5;

    @include respond(laptop) {
        grid-column: 1 / -1;
        grid-row: 5 / 6;
    }
}